<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/libs/bootstrap.min.js" ></script>

</head>
<body>
    <div align="center" width="80%">
        <img src="/static/images/cs.png"/>
        <div class="alert alert-primary" role="alert">
            Felix Blanco Inca --- Trabajo individual
        </div>
        <div><a href="/users">See all users</a></div>
        <br/>
    </div>
</body>
</html>
